<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scan</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <section>
      <ion-button expand="block">Image</ion-button>
    </section>
      
    <section>
      <ion-button expand="block" (click)="scanBarcode()">Barcode</ion-button>
    </section>
  </div>
  <!-- <app-explore-container name="Scan page"></app-explore-container> -->
</ion-content>
