<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Health News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Health News</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-button (click)="toggleInfiniteScroll()" expand="block">
    Toggle Infinite Scroll
  </ion-button> -->

  <ion-list>
    <ion-item *ngFor='let item of dataDetails.payload'>
      <ion-thumbnail slot="start">
        <img src="{{item.urlToImage}}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{item.title}}</h2>
        <h3>{{item.publishedAt}}</h3>
        <p>{{item.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
