
<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="isLoaded">{{article.payload.source}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="content" *ngIf="isLoaded">
    <ion-grid>
      <ion-row>
        <ion-img [src]="article.payload.urlToImage"></ion-img>
      </ion-row>
      <ion-row>
        <div><h6>{{article.payload.title}}</h6></div>
      </ion-row>
      <ion-row>
        <ion-col>        
          <div>{{article.payload.author}}</div>
        </ion-col>
        <ion-col>
          <div>{{article.payload.publishedAt}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <p>{{article.payload.content}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <div>url: {{article.payload.url}}</div>
      </ion-row>
    </ion-grid>
</ion-content>
