<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="scanProduct">{{scanProduct.payload.productInfo.productName}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">
  <ion-card *ngIf="scanProduct">
    <div>
      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col col-10>
          <img [src]="scanProduct.payload.productInfo.imageUrl" class="info-img">
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
      
    </div>    
    <ion-card-header>
      <ion-card-title>
        {{ scanProduct.payload.productInfo.productName }}
      </ion-card-title>
      <ion-card-subtitle>
        Brand : {{ scanProduct.payload.productInfo.brands }}<br><br> Barcode : {{scanProduct.payload.productInfo.barcode}}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content text-center>
      
      {{ scanProduct.payload.productInfo.ingredientText }}
 
      <!-- <ion-item lines="none">
        <ion-icon name="star-half" slot="start"></ion-icon>
        <ion-label>{{ scanProduct.payload.productInfo.nutrientLevels }}</ion-label>
      </ion-item> -->
      <ion-list *ngIf='scanProduct.payload.userAllergens; let items'>
        <ion-list-header>
          My Allergens
        </ion-list-header>
        <div>
          <ion-item *ngFor='let item of items' class="allergens">
            Ingredient: {{item.name}} <br><br>
            Potential reactions: {{item.potentialReactions}} <br><br>
            Remarks: {{item.remarks}} <br><br>
            Url: {{item.url}}
          </ion-item>
          <ion-item *ngIf='items.length === 0'>No Results</ion-item>
        </div>
      </ion-list>
      <ion-list>
        <ion-list-header>
          Allergens
        </ion-list-header>
        <div *ngIf='scanProduct.payload.allergens; let items'>
          <ion-item *ngFor='let item of items' class="allergens">
            Ingredient: {{item.name}} <br><br>
            Potential reactions: {{item.potentialReactions}} <br><br>
            Remarks: {{item.remarks}} <br><br>
            Url: {{item.url}}
          </ion-item>
          <ion-item *ngIf='items.length === 0'>No Results</ion-item>
        </div>
      </ion-list>
        <ion-list>
          <ion-list-header>
            Ingredients
          </ion-list-header>
          <div *ngIf='scanProduct.payload.ingredients; let items'>
            <ion-item *ngFor='let item of items' lines="none">
              {{item.text}}
            </ion-item>
            <ion-item *ngIf='items.length === 0'>No Results</ion-item>
          </div>
        </ion-list>
        <ion-list>
          <ion-list-header>
            Additives
          </ion-list-header>
          <div *ngIf='scanProduct.payload.additives; let items'>
            <ion-item *ngFor='let item of items'>
              {{item.name}}
            </ion-item>
            <ion-item *ngIf='items.length === 0'>No Results</ion-item>
          </div>
        </ion-list>
    </ion-card-content>
  </ion-card>
  <div id="map_canvas">
    <!-- <ion-button (click)="$event">Start demo</ion-button> -->
  </div>
</ion-content>
